@import '../../styles/_vars.scss';

.button {
    display: block;
    width: 100%;
    padding: 12px;
    background: $accent;
    border-radius: 6px;
    border: none;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $bg;
    cursor: pointer;
}