<div class="settings-profile">
  <div class="settings-profile__ico">
    <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.62296C8 0.794528 8.67157 0.122955 9.5 0.122955C10.1587 0.122955 10.7182 0.547486 10.9198 1.13785H12.5C12.7761 1.13785 13 1.36171 13 1.63785C13 1.91399 12.7761 2.13785 12.5 2.13785H10.9093C10.6992 2.71265 10.1475 3.12296 9.5 3.12296C8.67157 3.12296 8 2.45138 8 1.62296ZM0.5 1.15579C0.223858 1.15579 0 1.37965 0 1.65579C0 1.93193 0.223858 2.15579 0.5 2.15579H6.5C6.77614 2.15579 7 1.93193 7 1.65579C7 1.37965 6.77614 1.15579 6.5 1.15579H0.5ZM8 6.5C8 6.22386 8.22386 6 8.5 6H12.5C12.7761 6 13 6.22386 13 6.5C13 6.77614 12.7761 7 12.5 7H8.5C8.22386 7 8 6.77614 8 6.5ZM0.5 6C0.223858 6 0 6.22386 0 6.5C0 6.77614 0.223858 7 0.5 7H4.13507C4.37164 7.51748 4.89383 7.87704 5.5 7.87704C6.23052 7.87704 6.83907 7.35483 6.97271 6.66335C6.99039 6.61216 7 6.5572 7 6.5C7 6.48485 6.99933 6.46986 6.99801 6.45505C6.99933 6.42921 7 6.40321 7 6.37704C7 5.54862 6.32843 4.87704 5.5 4.87704C4.8018 4.87704 4.21501 5.35408 4.04778 6H0.5Z" fill="#6D7580"/>
    </svg>
  </div>
  <span class="settings-profile__text">{{ title }}</span>
</div>
