<section class="profile">
  <a href="/chat" class="come-back">
    <div class="come-back__icon">
      <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.66446 5.20005L13 5.20005V6.80005L3.66454 6.80005L6.62469 10.5002L5.37531 11.4998L1.37531 6.49976L0.9755 6L1.37531 5.50024L5.37531 0.500244L6.62469 1.49976L3.66446 5.20005Z" fill="white"/>
      </svg>
    </div>
  </a>
  <div class="profile__info">
    <div class="profile__img-box">
      <img src="{{img}}" alt="profile image">
    </div>
    <h2 class="profile__name">{{name}}</h2>
    <div class="auth__input-box mt-50">
      <div class="input">
        <input class="input__input" type="text" name="first_name" id="first_name" placeholder="Имя">
        <label class="input__label" for="first_name">Имя</label>
      </div>
      <p class="error">error</p>
    </div>
    <div class="auth__input-box">
      <div class="input">
        <input class="input__input" type="text" name="second_name" id="second_name" placeholder="Фамилия">
        <label class="input__label" for="second_name">Фамилия</label>
      </div>
      <p class="error">error</p>
    </div>
    <div class="auth__input-box">
      <div class="input">
        <input class="input__input" type="email" name="email" id="email" placeholder="Почта">
        <label class="input__label" for="email">Почта</label>
      </div>
      <p class="error">error</p>
    </div>
    <div class="auth__input-box">
      <div class="input">
        <input class="input__input" type="text" name="phone" id="phone" placeholder="Телефон">
        <label class="input__label" for="phone">Телефон</label>
      </div>
      <p class="error">error</p>
    </div>
    <div class="auth__input-box">
      <div class="input">
        <input class="input__input" type="text" name="login" id="login" placeholder="Логин">
        <label class="input__label" for="login">Логин</label>
      </div>
      <p class="error">error</p>
    </div>
    <div class="auth__input-box">
      <div class="input">
        <input class="input__input" type="password" name="password" id="password" placeholder="Пароль">
        <label class="input__label" for="password">Пароль</label>
      </div>
      <p class="error">error</p>
    </div>
    <div class="auth__input-box">
      <div class="input">
        <input class="input__input" type="password" name="password" id="password" placeholder="Пароль (еще раз)">
        <label class="input__label" for="password">Пароль (еще раз)</label>
      </div>
      <p class="error">error</p>
    </div>
    <div class="profile__btns mt-20">
      <button class="button">{{btnText}}</button>
    </div>
  </div>
</section>