<section class="profile">
  <a href="/chat" class="come-back">
    <div class="come-back__icon">
      <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.66446 5.20005L13 5.20005V6.80005L3.66454 6.80005L6.62469 10.5002L5.37531 11.4998L1.37531 6.49976L0.9755 6L1.37531 5.50024L5.37531 0.500244L6.62469 1.49976L3.66446 5.20005Z" fill="white"/>
      </svg>
    </div>
  </a>
  <div class="profile__info">
    <div class="profile__img-box">
      <img src="{{img}}" alt="profile image">
    </div>
    <h1 class="profile__name">{{name}}</h1>
    <ul class="profile__list">
      <li class="profile__item">
        <div class="profile__item-title">Почта</div>
        <div class="profile__item-content">pochta@yandex.ru</div>
      </li>
      <li class="profile__item">
        <div class="profile__item-title">Логин</div>
        <div class="profile__item-content">ivanivanov</div>
      </li>
      <li class="profile__item">
        <div class="profile__item-title">Имя</div>
        <div class="profile__item-content">Иван</div>
      </li>
      <li class="profile__item">
        <div class="profile__item-title">Фамилия</div>
        <div class="profile__item-content">Иванов</div>
      </li>
      <li class="profile__item">
        <div class="profile__item-title">Имя в чате</div>
        <div class="profile__item-content">Иван</div>
      </li>
      <li class="profile__item">
        <div class="profile__item-title">Телефон</div>
        <div class="profile__item-content">+7 (909) 967 30 30</div>
      </li>
    </ul>
    <div class="profile__btns mt-50">
      <div class="profile__btn-item">
        <a href="/profile-edit" class="sub-btn">Изменить данные</a>
      </div>
      <div class="profile__btn-item">
        <a href="/edit-pass" class="sub-btn">Изменить пароль</a>
      </div>
      <div class="profile__btn-item">
        <button class="logout">Выйти</button>
      </div>
    </div>
  </div>
</section>
