<div class="settings__modal {{#if show}}settings__show{{/if}}">
  <div class="settings__modal-menu">
    {{#if selectedId}}
      {{{addUserButton}}}

      {{{deleteUserButton}}}
    {{/if}}
  </div>
  {{{closeButton}}}
</div>
