$bg: #fff;
$sub-bg: #F5F7FB;
$text: #1E1E1E;
$sub-text: #6D7580;
$accent: #2F85FF;
$error: #FF0000;
$border: #bdbdbd;
$ava-border: #BCCFFF;
$scroll: #999999;
$border: #EAEAEA;
$shadow: inset 1px 1px 10px #f3faf7;
