$bg: #fff;
$sub-bg: #f5f7fb;
$text: #1e1e1e;
$sub-text: #6d7580;
$accent: #2f85ff;
$error: #ff0000;
$border: #bdbdbd;
$ava-border: #bccfff;
$scroll: #999;
$border: #eaeaea;
$shadow: inset 1px 1px 10px #f3faf7;
