.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__form {
    padding: 50px 30px 30px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
  }

  &__title {
    text-align: center;
  }

  &__input-box {
    position: relative;
    margin-bottom: 28px;
  }

}
