.input {
  min-width: 328px;
  position: relative;

  &__label {
    position: absolute;
    margin-bottom: 0.25rem;
    top: 50%;
    left: 0.3125rem;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
    background-color: $bg;
    color: $sub-text;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: top 0.1s ease-in-out;
  }

  &__input {
    display: block;
    width: 100%;
    height: calc(2.5rem + 2px);
    padding: 0.5rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $text;
    background-color: $bg;
    background-clip: padding-box;
    border: 1px solid $border;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
  }

  &__input:focus ~ &__label,
  &__input:not(:placeholder-shown) ~ &__label {
    top: 0;
    transform: translateY(-50%) scale(0.75);
  }
}
