@import './vars';
@import './input';
@import './button';
@import './search';
@import './sidebar';
@import './chat';
@import './dialog';
@import './profile';
@import './eye-pass';
@import './auth';
@import './sub-btn';
@import './error-found';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Nunito, sans-serif;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: $text;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.error {
  position: absolute;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $error;
}

.hidden {
  display: none;
}
