
.sub-btn {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $accent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  