<button class="send-btn" type="submit">
  <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33554 6.79995H0V5.19995H9.33546L6.37531 1.49976L7.62469 0.500244L11.6247 5.50024L12.0245 6L11.6247 6.49976L7.62469 11.4998L6.37531 10.5002L9.33554 6.79995Z" fill="white"/>
  </svg>
</button>