@import '../../../styles/_vars.scss';

.search {
    position: relative;
    display: block;
  
    &__input {
      width: 100%;
      background-color: $bg;
      border: none;
      padding: 12px 12px 12px 30px;
      border-radius: 6px;
    }
  
    &__icon {
      position: absolute;
      top: 12px;
      left: 6px;
    }
}