<div class="message-my__status">
  <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line y1="-0.5" x2="3.87831" y2="-0.5" transform="matrix(0.726108 0.687581 -0.729937 0.683514 0 2.56738)" stroke="#EAEAEA"/>
    <line y1="-0.5" x2="5.81747" y2="-0.5" transform="matrix(0.726108 -0.687581 0.729937 0.683514 2.88409 5.5)" stroke="#EAEAEA"/>
    <line y1="-0.5" x2="5.81747" y2="-0.5" transform="matrix(0.726108 -0.687581 0.729937 0.683514 5.77203 5.5)" stroke="#EAEAEA"/>
  </svg>
</div>