<div class="dialog-area__header">
  <div class="dialog-area__header-user">
      <div class="dialog-area__header-img">
      <img class="contact__img" src="{{imageUrl}}" alt="Contact Image">
      {{wordName}}
      </div>
      <h1 class="dialog-area__header-name">{{name}}</h1>
  </div>
  <div class="dialog-area__header-settings">
      <div class="settings">
        <div class="settings__item"></div>
      </div>
  </div>
</div>