<div class="eye-pass {{class}}">
  <div class="eye-pass__hide">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.24608 18.8635C8.72291 19.0039 9.22323 18.7311 9.36359 18.2543L10.1161 15.6978C11.3656 15.9675 12.6352 15.9675 13.8846 15.6978L14.6368 18.2542C14.7771 18.731 15.2774 19.0039 15.7543 18.8636C16.2311 18.7232 16.5039 18.2229 16.3636 17.7461L15.6 15.151C16.6345 14.7117 17.6319 14.0832 18.5731 13.2745L20.335 15.2078C20.6698 15.5752 21.2391 15.6016 21.6065 15.2668C21.9738 14.932 22.0002 14.3627 21.6654 13.9954L19.861 12.0154C20.5345 11.2716 21.1712 10.4247 21.7634 9.47716C22.0269 9.05565 21.8987 8.5004 21.4772 8.23696C21.0557 7.97352 20.5005 8.10166 20.237 8.52316C19.538 9.64154 18.7846 10.5849 17.9982 11.3586C16.7918 12.5455 15.5107 13.3305 14.2243 13.7449C12.7543 14.2185 11.2466 14.2185 9.77655 13.7449C8.49004 13.3305 7.209 12.5454 6.00255 11.3586C5.21598 10.5848 4.46239 9.64152 3.76342 8.52316C3.49998 8.10166 2.94472 7.97352 2.52322 8.23696C2.10172 8.5004 1.97358 9.05565 2.23702 9.47716C2.8293 10.4248 3.4661 11.2717 4.13969 12.0154L2.33506 13.9953C2.00023 14.3627 2.02659 14.9319 2.39394 15.2667C2.7613 15.6016 3.33053 15.5752 3.66537 15.2079L5.42763 13.2745C6.36876 14.0832 7.36627 14.7117 8.40072 15.151L7.63684 17.746C7.49649 18.2228 7.76925 18.7232 8.24608 18.8635Z" fill="#6D7580"/>
    </svg>
  </div>
  <div class="eye-pass__show">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z" stroke="#6D7580" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="#6D7580" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
</div>
