<div class="modals modals__delete {{#if show}}modals__show{{/if}}">
  <div class="modals__card">
    <div class="mt-20 modals__body">
        {{{centerElement}}}
        {{{mainButton}}}
    </div>
    {{{error}}}
  </div>
  {{{closeButton}}}
</div>
