<section class="error-found">
  <div class="error-found__box">
    <div class="error-found__code">{{code}}</div>
    <div class="error-found__text">{{text}}</div>
    <div class="mt-30">{{{link}}}</div>
  </div>
</section>
