<section class="error-found">
  <div class="error-found__box">
    <div class="error-found__code">{{code}}</div>
    <div class="error-found__text">{{text}}</div>
    <a href="/chat" class="sub-btn mt-50">{{linkText}}</a>
  </div>
</section>
